In [4]:
import pandas as pd
import numpy as np

In [5]:
train =  pd.read_csv('train_ctrUa4K.csv')

In [6]:
test = pd.read_csv('test_lAUu6dG.csv')

In [7]:
print(train.shape, test.shape)

(614, 13) (367, 12)

In [8]:
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [9]:
train.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [10]:
test.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [11]:
train['source']='train'
test['source']='test'

In [12]:
test.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,source
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban,test
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban,test
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban,test
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban,test
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban,test

In [13]:
data = pd.concat([train,test], ignore_index = True)

In [14]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,source
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y,train
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N,train
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y,train
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y,train
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y,train

In [15]:
data.tail()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,source
976,LP002971,Male,Yes,3+,Not Graduate,Yes,4009,1777.0,113.0,360.0,1.0,Urban,NaN,test
977,LP002975,Male,Yes,0,Graduate,No,4158,709.0,115.0,360.0,1.0,Urban,NaN,test
978,LP002980,Male,No,0,Graduate,No,3250,1993.0,126.0,360.0,NaN,Semiurban,NaN,test
979,LP002986,Male,Yes,0,Graduate,No,5000,2393.0,158.0,360.0,1.0,Rural,NaN,test
980,LP002989,Male,No,0,Graduate,Yes,9200,0.0,98.0,180.0,1.0,Rural,NaN,test

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 981 entries, 0 to 980
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            981 non-null    object
 1   Gender             957 non-null    object
 2   Married            978 non-null    object
 3   Dependents         956 non-null    object
 4   Education          981 non-null    object
 5   Self_Employed      926 non-null    object
 6   ApplicantIncome    981 non-null    int64
 7   CoapplicantIncome  981 non-null    float64
 8   LoanAmount         954 non-null    float64
 9   Loan_Amount_Term   961 non-null    float64
 10  Credit_History     902 non-null    float64
 11  Property_Area      981 non-null    object
 12  Loan_Status        614 non-null    object
 13  source             981 non-null    object
dtypes: float64(4), int64(1), object(9)
memory usage: 107.4+ KB

In [17]:
data.isnull().sum()

Loan_ID                0
Gender                24
Married                3
Dependents            25
Education              0
Self_Employed         55
ApplicantIncome        0
CoapplicantIncome      0
LoanAmount            27
Loan_Amount_Term      20
Credit_History        79
Property_Area          0
Loan_Status          367
source                 0
dtype: int64

In [18]:
data['Gender'].fillna('Male', inplace=True)

In [19]:
data['Married'].fillna('Yes', inplace=True)

In [20]:
data['Dependents'].fillna('0', inplace=True)

In [21]:
data['Self_Employed'].fillna('No', inplace=True)

In [22]:
data['CoapplicantIncome'].fillna(int(data['CoapplicantIncome'].mean()), inplace=True)

In [23]:
data['LoanAmount'].fillna(int(data['LoanAmount'].mean()), inplace=True)

In [24]:
data['Loan_Amount_Term'].fillna(int(data['Loan_Amount_Term'].mean()), inplace=True)

In [25]:
data['Credit_History'].fillna(1.0, inplace=True)

In [26]:
data.isnull().sum()

Loan_ID                0
Gender                 0
Married                0
Dependents             0
Education              0
Self_Employed          0
ApplicantIncome        0
CoapplicantIncome      0
LoanAmount             0
Loan_Amount_Term       0
Credit_History         0
Property_Area          0
Loan_Status          367
source                 0
dtype: int64

In [27]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,source
0,LP001002,Male,No,0,Graduate,No,5849,0.0,142.0,360.0,1.0,Urban,Y,train
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N,train
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y,train
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y,train
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y,train

In [28]:
data.Gender = data.Gender.map({'Male':0,'Female':1})

In [29]:
data.Married= data.Married.map({'Yes':0,'No':1})

In [30]:
data.Education = data.Education.map({'Not Graduate':0,'Graduate':1})

In [31]:
data.Self_Employed= data.Self_Employed.map({'Yes':0,'No':1})

In [32]:
data['Dependents'].value_counts()

0     570
2     160
1     160
3+     91
Name: Dependents, dtype: int64

In [33]:
data.Dependents= data.Dependents.map({'0':0,'1':1,'2':2,'3+':3})

In [34]:
data['Property_Area'].value_counts()

Semiurban    349
Urban        342
Rural        290
Name: Property_Area, dtype: int64

In [35]:
data = pd.get_dummies(data, columns=['Property_Area'])

In [36]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status,source,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,LP001002,0,1,0,1,1,5849,0.0,142.0,360.0,1.0,Y,train,0,0,1
1,LP001003,0,0,1,1,1,4583,1508.0,128.0,360.0,1.0,N,train,1,0,0
2,LP001005,0,0,0,1,0,3000,0.0,66.0,360.0,1.0,Y,train,0,0,1
3,LP001006,0,0,0,0,1,2583,2358.0,120.0,360.0,1.0,Y,train,0,0,1
4,LP001008,0,1,0,1,1,6000,0.0,141.0,360.0,1.0,Y,train,0,0,1

In [39]:
data.Loan_Status = data.Loan_Status.map({'Y':0,'N':1})

In [40]:
#Divide into test and train:
train = data.loc[data['source']=="train"]
test = data.loc[data['source']=="test"]

In [41]:
data.corr()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
Gender,1.000000,0.327012,-0.139248,0.040649,0.024719,-0.060444,-0.082428,-0.096481,0.069631,-0.018627,0.017987,-0.067824,0.094498,-0.029989
Married,0.327012,1.000000,-0.344291,0.026211,0.013666,-0.052126,-0.061606,-0.156701,0.048182,-0.021738,0.091478,0.001967,0.006909,-0.008825
Dependents,-0.139248,-0.344291,1.000000,-0.084894,-0.026241,0.122136,0.003223,0.149251,-0.082497,-0.045335,-0.010118,-0.014311,-0.003900,0.017622
Education,0.040649,0.026211,-0.084894,1.000000,-0.010848,0.138909,0.060380,0.162247,0.024029,0.062416,-0.085884,-0.051345,0.013089,0.036017
Self_Employed,0.024719,0.013666,-0.026241,-0.010848,1.000000,-0.113106,0.018861,-0.106947,0.031103,-0.034485,-0.003700,-0.060360,0.015231,0.042498
ApplicantIncome,-0.060444,-0.052126,0.122136,0.138909,-0.113106,1.000000,-0.114247,0.547169,-0.023042,0.020201,0.004710,-0.000099,-0.009034,0.009171
CoapplicantIncome,-0.082428,-0.061606,0.003223,0.060380,0.018861,-0.114247,1.000000,0.178480,-0.043716,-0.011531,0.059187,0.035925,-0.026793,-0.007484
LoanAmount,-0.096481,-0.156701,0.149251,0.162247,-0.106947,0.547169,0.178480,1.000000,0.054832,-0.003560,0.035654,0.035444,-0.007858,-0.026046
Loan_Amount_Term,0.069631,0.048182,-0.082497,0.024029,0.031103,-0.023042,-0.043716,0.054832,1.000000,-0.018341,0.020974,0.019725,0.033029,-0.052071
Credit_History,-0.018627,-0.021738,-0.045335,0.062416,-0.034485,0.020201,-0.011531,-0.003560,-0.018341,1.000000,-0.540556,-0.026518,0.009830,0.015517
Loan_Status,0.017987,0.091478,-0.010118,-0.085884,-0.003700,0.004710,0.059187,0.035654,0.020974,-0.540556,1.000000,0.100694,-0.136540,0.043621
Property_Area_Rural,-0.067824,0.001967,-0.014311,-0.051345,-0.060360,-0.000099,0.035925,0.035444,0.019725,-0.026518,0.100694,1.000000,-0.481409,-0.473939
Property_Area_Semiurban,0.094498,0.006909,-0.003900,0.013089,0.015231,-0.009034,-0.026793,-0.007858,0.033029,0.009830,-0.136540,-0.481409,1.000000,-0.543647
Property_Area_Urban,-0.029989,-0.008825,0.017622,0.036017,0.042498,0.009171,-0.007484,-0.026046,-0.052071,0.015517,0.043621,-0.473939,-0.543647,1.000000

In [42]:
X_train=train.drop(['Loan_ID','Loan_Status','source'],axis=1)

In [43]:
y_train = train.Loan_Status

In [44]:
X_test=test.drop(['Loan_ID','Loan_Status','source'],axis=1)

#### logistic regression

In [45]:
from sklearn.linear_model import LogisticRegression

In [46]:
model =LogisticRegression()

In [47]:
model.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [48]:
model.score(X_train,y_train)

0.8110749185667753

In [49]:
pred = model.predict(X_test)

In [50]:
pred.shape

(367,)

In [321]:
from sklearn.metrics import accuracy_score, r2_score, mean_squared_error
from sklearn.model_selection import cross_val_score

In [323]:
lr_accuracy = round(model.score(X_train,y_train) * 100,2)
lr_accuracy

81.11

In [327]:
submission = pd.DataFrame({'Loan_ID':test['Loan_ID'],'Loan_Status':pred},columns=['Loan_ID','Loan_Status'])

In [330]:

submission.to_csv('submissionlog.csv',index=False)

### SVM

In [344]:
from sklearn.svm import SVC

In [345]:
model2 = SVC()

In [346]:
model2.fit(X_train,y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [347]:
pred2 = model2.predict(X_test)

In [348]:
submission2 = pd.DataFrame({'Loan_ID':test['Loan_ID'],'Loan_Status':pred2},columns=['Loan_ID','Loan_Status'])

In [349]:

submission2.to_csv('submissionSVM.csv',index=False)

### Navie bayes

In [399]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()

In [400]:
gnb.fit(X_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [401]:
pred4 = gnb.predict(X_test)

In [402]:
submission3 = pd.DataFrame({'Loan_ID':test['Loan_ID'],'Loan_Status':pred4},columns=['Loan_ID','Loan_Status'])

In [403]:
submission2.to_csv('submissiongnb1.csv',index=False)